@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Abra um livro, deixa-se levar. Um novo mundo você vai encontrar!</p>
    <div style="margin-bottom: 105px;">
        <img src="/img/book.png" alt="Texto Alternativo" class="img-fluid" />
    </div>
</div>


